
body{
  background-color: #003300;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  width:18%;
  position: relative;
  float:left;
  margin:10px;
  height:200px;
  box-sizing: inherit;
}

.card-media{
  width:100%;
  height:170px;
  box-sizing: inherit;
}

.movie-trailer{
  background-color: black;
}

.play-icon{
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 15px;
  right: 40%;
}

.title-icon{
  position: absolute;
  width: 30%;
  height: 30%;
  top: 85%;
  right: 10%;
  float: right;
  font-size: 12px;
  font-weight: bold;
  font-style: oblique;
}

.language-checkbox{
  padding-left: 82%;
}

.genre-checkbox{
  float: right;
  padding-right: 100px;
}

.video-container{
  margin-top:30px;;
  text-align:left;
  margin-left: 5%;
  margin-bottom: 50px;
}

.video-division{
  width: 40%;
  /* float:left; */
}

.video-action{
  width: 40%;
}